<% layout("/layouts/boilerplate") %> 

<style>
  #filters {
    display: flex;
    overflow-x: auto; 
    white-space: nowrap; 
    align-items: center;
    /* Hide scrollbar */
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }

  #filters::-webkit-scrollbar {
    display: none; 
  }

  .filter {
    text-align: center;
    margin-right: 0.5rem;
    margin-top: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 2;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .tax-info {
    display: none;
  }

  .tax-toggle {
    border: 2px solid black;
    border-radius: 1rem;
    height: 3.15rem;
    padding: 1rem;
    margin-left: 0.1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
</style>
onclick="location.href='<%= process.env.DOMAIN || '' %>/listings/iconiccities'"

<div class="container">
  <div id="filters" class="lg-3 md-2 sm-1">
      <div class="filter filterslideable">

        <!-- <button type="button" class="icon-button" onclick="location.href='<= process.env.DOMAIN || '' %>/listings/iconiccities'">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic cities</p>
        </button>
      </div> -->

      <div class="filter filterslideable">
       <button type="button" class="icon-button" onclick="location.href='/listings/castles'">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p> 
        </button>  
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/pools'">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Pools</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/camping'">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/farms'">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>farms</p>
      </button>
      </div>
 
      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/arctics'">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/ships'">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Ships</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/tropicals'">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Tropical</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/houses'">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Houses</p>
      </button>
      </div>
      
      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/golfing'">
        <div><i class="fa-solid fa-golf-ball-tee"></i></div>
        <p>Golfing</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/beachFront'">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beachfront</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/ski-in-out'">
        <div><i class="fa-solid fa-person-skiing-nordic"></i></div>
        <p>Ski-in/out</p>
      </button>
      </div>





<!-- onclick="location.href='/listings/iconiccities'" -->

<!-- <div class="container">
  <div id="filters" class="lg-3 md-2 sm-1">
      <div class="filter filterslideable">

        <button type="button" class="icon-button" onclick="location.href='/listings/iconiccities'">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic cities</p>
        </button>
      </div>

      <div class="filter filterslideable">
       <button type="button" class="icon-button" onclick="location.href='/listings/castles'">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p> 
        </button>  
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/pools'">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Pools</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/camping'">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/farms'">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>farms</p>
      </button>
      </div>
 
      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/arctics'">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/ships'">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Ships</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/tropicals'">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Tropical</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/houses'">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Houses</p>
      </button>
      </div>
      
      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/golfing'">
        <div><i class="fa-solid fa-golf-ball-tee"></i></div>
        <p>Golfing</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/beachFront'">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beachfront</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='/listings/ski-in-out'">
        <div><i class="fa-solid fa-person-skiing-nordic"></i></div>
        <p>Ski-in/out</p>
      </button>
      </div> -->


<!-- <div class="container">
  <div id="filters" class="lg-3 md-2 sm-1">
      <div class="filter filterslideable">

        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/iconiccities'">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic cities</p>
        </button>
      </div>

      <div class="filter filterslideable">
       <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/castles'">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p> 
        </button>  
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/pools'">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Pools</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/camping'">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/farms'">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>farms</p>
      </button>
      </div>
 
      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/arctics'">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/ships'">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Ships</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/tropicals'">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Tropical</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/houses'">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Houses</p>
      </button>
      </div>
      
      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/golfing'">
        <div><i class="fa-solid fa-golf-ball-tee"></i></div>
        <p>Golfing</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/beachFront'">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beachfront</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='https://wanderlust-jefw.onrender.com/listings/ski-in-out'">
        <div><i class="fa-solid fa-person-skiing-nordic"></i></div>
        <p>Ski-in/out</p>
      </button>
      </div> -->



        <!-- <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/iconiccities'">
          <div><i class="fa-solid fa-mountain-city"></i></div>
          <p>Iconic cities</p>
        </button>
      </div>

      <div class="filter filterslideable">
       <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/castles'">
          <div><i class="fa-brands fa-fort-awesome"></i></div>
          <p>Castles</p> 
        </button>  
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/pools'">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Pools</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/camping'">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/farms'">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>farms</p>
      </button>
      </div>
 
      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/arctics'">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/ships'">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Ships</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/tropicals'">
        <div><i class="fa-solid fa-tree"></i></div>
        <p>Tropical</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/houses'">
        <div><i class="fa-solid fa-house"></i></div>
        <p>Houses</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/golfing'">
        <div><i class="fa-solid fa-golf-ball-tee"></i></div>
        <p>Golfing</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/beachFront'">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beachfront</p>
      </button>
      </div>

      <div class="filter filterslideable">
        <button type="button" class="icon-button" onclick="location.href='http://localhost:8080/listings/ski-in-out'">
        <div><i class="fa-solid fa-person-skiing-nordic"></i></div>
        <p>Ski-in/out</p>
      </button>
      </div> -->
  
      <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"> 
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings){ %>
      <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
      <img src="<%= listing.image.url %>"  
      class="card-img-top" 
      alt="listing_image" 
      style="height: 20rem"
    />

      <div class="card-img-overlay"></div>
        <div class="card-body">  
          <p class="card-text">
            <b><%= listing.title %></b><br>
            &#8377;<%= listing.price.toLocaleString("en-IN")%>/night
            <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
          </p>
        </div>
      </div>
      </a>
    <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", ()=>{
    let taxInfo = document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline";
      }else{
        info.style.display = "none";
      }
    }
  });


  

    document.addEventListener("DOMContentLoaded", function() {
        const iconButton = document.querySelector(".icon-button");
        if (iconButton) {
            iconButton.addEventListener("click", function() {
                const domain = "<%= process.env.DOMAIN || '' %>";
                const href = `${domain}/listings/iconiccities`;
                window.location.href = href;
            });
        }
    });





</script> 

